---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About">
  <h1>About the project</h1>
  <p>Madriles Bikers es un grupo de gente que salimos a disfrutar de la moto los fines de semana</p>
</Layout>