---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Projects from '../components/Projects.astro'
import LinkedInIcon from '../icons/LinkedIn.astro'
import GithubIcon from '../icons/Github.astro'
import MailIcon from '../icons/Mail.astro'
import Briefcase from '../icons/Briefcase.astro'
import CodeIcon from '../icons/Code.astro'
---

<Layout 
  title="Ignacio Yuste L칩pez - QA Engineer & Full Stack Developer"
  description="Contrata a Ignacio Yuste Lopez para crear el framework de pruebas de tu empresa o la app que tu quieras"
>
  <main class="px-4">
    <SectionContainer class="py-16 pb-12">
      <img 
      class="rounded w-12 h-15" 
      src="iyustlop.github.io/public/iyustlop.webp"
      alt="iyustlop photo"
    />
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hey, soy Ignacio
        <div class="flex justify-center items-center">
          <a
            href="https://www.linkedin.com/in/nachoyustelopez/"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
          >
            <Badge>Disponible para trabajar</Badge>
          </a>
        </div>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+15 a침os de experiencia en pruebas de SW e implementaci칩n de proyectos de pruebas. </span>
        <span class="text-yellow-200/90">Expert QA Engineer & Full Stack Developer</span>
        <span class="text-red-200/90">De Madrid, Espa침a.</span> 
        <span class="opacity-75">Especializado en la creacion de codigo de para pruebas</span>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/nachoyustelopez/">
          <LinkedInIcon class="size-4 lg:size-5"/>
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/iyustlop">
          <GithubIcon class="size-4 lg:size-6"/>
          Github
        </SocialPill>
        <SocialPill href="https://github.com/iyustlop">
          <MailIcon class="size-4 lg:size-6"/>
          iyustlop@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-8"/>
        Experiencia Laboral</h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>

