---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ignacio Yuste L칩pez">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hey, soy Ignacio
        <div class="flex justify-center items-center">
          <a
            href="https://www.linkedin.com/in/nachoyustelopez/"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
          >
            <Badge>Disponible para trabajar</Badge>
          </a>
        </div>
      </h1>
      <h2 class="text-xl opacity-80">
        +15 a침os de experiencia en pruebas de SW e implementaci칩n de proyectos de pruebas. De Madrid, Espa침a. 
        Escpecializado en la creacion de codigo de para pruebas
      </h2>
    </section>
  </main>
</Layout>

