<section class="flex gap-x-4 justify-center items-center" >
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-200 [&>p>strong]:font-semibold text-pretty">
    <p>
      Hola, soy Ignacio, pero mis amigos me llaman Nacho. 
      Mi aventura en el mundo de la tecnología comenzó con un Spectrum 48, un
      punto de partida que encendió mi interés por el software y la ingeniería.
      Desde entonces, he seguido aprendiendo y creciendo en este fascinante
      campo.
    </p>

    <p>
      Soy ingeniero con una amplia experiencia en el mundo del <strong> aseguramiento de la calidad (QA)</strong>, donde
      he desarrollado habilidades que me permiten adaptarme a los cambios de
      forma rápida y efectiva. Mi trayectoria incluye el liderazgo de equipos en
      multinacionales, lo que me ha brindado la oportunidad de trabajar en
      entornos dinámicos y multiculturales.
    </p>

    <p>
      Entre mis exitos destaco que en mis últimas experiencias laborales <strong>he
      ayudado a compañeros a pasar del Testing Manual a la automatización</strong> , de
      forma que mejoraron sus metas laborales y les permitieron salir de sus
      zonas de confort. Me emcanta trabajar con gente que quiere mejorar y
      aprender de mi experiencia.
    </p>

    <p>
      He liderado inciativas para la creación de  <strong> Frameworks de testing desde
      cero</strong>. El último ha estado centrado en el testing E2E en diferentes medios.
      Las operaciones empezaban en entorno Web o Canal Asistido y se validaan en
      Movil y el resultado final se veia en el entorno Web.
    </p>

    <p>
      Otra de las inciativas ha sido un <strong> framework de testing E2E de IVR (Interactive
      Voice Response)</strong>, el cual a traves de un dispositivo móvil, manejaba las
      llamadas y los diferentes flujos. De forma que se agilizaron todas las
      pruebas hasta que se introdujo el Voice Bot.
    </p>

    <p>
      Con el tiempo, he decidido dar un salto hacia el desarrollo, un área que
      me entusiasma y donde estoy ansioso por aplicar mis conocimientos y
      experiencias previas. Mi sólida base en QA me ha proporcionado una visión
      crítica y detallada que sin duda será valiosa en el mundo del desarrollo.
    </p>

    <p>
      Además de mi carrera profesional, soy padre de tres hijos, lo que me ha
      enseñado a ser flexible y a gestionar mi tiempo de manera efectiva.
      También soy un apasionado de las motos, disfrutando de la libertad y la
      adrenalina que ofrecen.
    </p>
  </div>
</section>
