

<header class="flex justify-between items-center py-5 w-full mx-auto mt-2">
 <img 
  class="rounded w-12 h-15" 
  src="../../public/iyustlop.jpg"
  alt="iyustlop photo"
/>
 <nav class="flex flex-row gap-x-10 opacity-80">
   <a href="/">home</a>
   <a href="/abou">about</a>
   <a href="/contact">contact</a>
</nav>
</header>
